.container {
  text-align: center;
  background-color:lightyellow;
  height:100vw;
  padding-top:30px;
}
.inner-cont{
  margin:0 auto;
  width:80%;
  background-image: linear-gradient(rgb(157, 210, 226),rgb(163, 173, 228));
  padding:20px;
  border-radius:20px;
  
}
h1{
  letter-spacing:2px;
  color:rgb(226, 43, 73);
  text-shadow: .5px .5px white;
}
.form {
  display: flex;
  justify-content: center;
  
}
.inputs {
  margin-bottom: 50px;
}

input {
  width: 250px;
  height: 50px;
  text-align: right;
  font-size: 50px;
  border-radius: 5px;
  background-color: lightyellow;
}
.equalsSign {
  font-size: 70px;
  margin: 0px 20px;
}

button, .mod {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size:30px;
  margin: 2px;
  background-color: lightblue;
  border:1px solid yellow;
}
.mod{
  font-size:10px;
}
form div {
  margin: 50px;
}
